<section class="contact">
  <div class="container container--10 wrapper">
    <div class="section-header">
      <h2 class="section-header__heading section-header__heading--center">Contact us</h2>
    </div>
    <div class="contact__inner">
      <p>Get in Touch with EchoBrain</p>
      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 768 768">
        <path d="M640.5 256.5v-64.5l-256.5 160.5-256.5-160.5v64.5l256.5 159zM640.5 127.5q25.5 0 44.25 19.5t18.75 45v384q0 25.5-18.75 45t-44.25 19.5h-513q-25.5 0-44.25-19.5t-18.75-45v-384q0-25.5 18.75-45t44.25-19.5h513z"></path>
      </svg>
      <p><a href="mailto:info@echo-brain.com" class="contact-email">info@echo-brain.com</a></p>
    </div>
  </div>
</section>
<style>
  .contact {
    padding: 100px 0;
  }

  .contact .contact__inner {
    text-align: center;
  }

  .contact .contact__inner svg {
    margin: 60px auto auto auto;
  }
</style>