{%- assign collection = collections[section.settings.collection] -%}
{%- assign products = (collection.product_ids | fetch_products: section.settings.number_of_products) -%}

{%- assign grid_class = '' -%}
{%- assign grid_column_size_md = '3' -%}

{% case site.data.settings.product_card_size %}
  {% when 'large' %}
    {%- assign grid_column_size_md = '4' -%}
  {% when 'extra-large' %}
    {%- assign grid_column_size_md = '6' -%}
    {%- assign grid_class = grid_class | append: ' grid--large' -%}
{% endcase %}

<section data-section-id="{{ section.id }}" class="featured-collection featured-collection--{{ section.id }}">
  <div class="collection">
    <div class="container container--10 wrapper">
      <div class="collection__header">
        <div class="section-header">
          {% if section.settings.heading != blank %}
            <h2 class="section-header__heading">{{ section.settings.heading }}</h2>
          {% endif %}

          {% if section.settings.show_button == true %}
            <div class="section-header__cta">
              <a href="{{ section.settings.button_url | localized_url }}" class="button button--outline button--small">
                {{ section.settings.button_text }}
              </a>
            </div>
          {% endif %}
        </div>
      </div>

      <div class="collection__grid">
        <div class="grid grid--waffle{{ grid_class }}{% if site.data.settings.center_products == true or site.data.settings.center_products == 'true' %} grid--center{% endif %}">
          {% for product in products %}
            <div class="grid__column grid__column--6 grid__column--{{ grid_column_size_md }}@md">
              {% include 'product-tile' with product %}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Featured collection",
    "group": "Shop",
    "position": 0,
    "description": "Showcase your products.",
    "settings": [
      {
        "type": "collection",
        "id": "collection",
        "label": "Collection",
        "default": "all"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Featured products"
      },
      {
        "type": "header",
        "content": "Button"
      },
      {
        "type": "checkbox",
        "id": "show_button",
        "label": "Show button",
        "default": true
      },
      {
        "type": "text",
        "id": "button_text",
        "label": "Button text",
        "default": "View all"
      },
      {
        "type": "url",
        "id": "button_url",
        "label": "Button link",
        "default": "/collections/all"
      },
      {
        "type": "header",
        "content": "Layout"
      },
      {
        "type": "select",
        "id": "number_of_products",
        "label": "Number of products",
        "options": [
          {
            "value": "1",
            "label": "1"
          },
          {
            "value": "2",
            "label": "2"
          },
          {
            "value": "3",
            "label": "3"
          },
          {
            "value": "4",
            "label": "4"
          },
          {
            "value": "6",
            "label": "6"
          },
          {
            "value": "8",
            "label": "8"
          },
          {
            "value": "12",
            "label": "12"
          },
          {
            "value": "16",
            "label": "16"
          },
          {
            "value": "20",
            "label": "20"
          },
          {
            "value": "48",
            "label": "48"
          }
        ],
        "default": "16"
      }
    ],
    "presets": [
      {
        "category": "Featured collection",
        "name": "Featured collection"
      }
    ]
  }
{% endschema %}

