<section class="potential">
  <div class="container container--10 wrapper">
    <div class="grid grid--waffle grid--center">
      <div class="grid__column grid__column--flex grid__column--stack grid__column--middle grid__column--12" style="text-align: center;">
        <h2>Master social proof with EchoBrain</h2>
        <br>
        <p>At EchoBrain, we redefine the game of reviews. Unlock the full potential of customer feedback with our cutting-edge capabilities.</p>
      </div>
      <div class="grid--waffle grid__column grid__column--12">
        <div class="container container--8 wrapper">
          <div class="tiers">
            <div class="tiers__container tiers__container--two-columns">
              <div class="tiers__tier">
                <div class="tiers__tier-heading">
                  <div class="tiers__tier-image-container">
                    <img class="tiers__tier-image" style="width: 80px" src="/assets/icon-data.svg" alt="">
                  </div>
                  <h3 class="tiers__tier-title" style="font-size: 25px;">
                    Effortless Collection
                  </h3>
                </div>
                <div class="tiers__tier-content">
                  <p>Gather reviews seamlessly and engage customers effortlessly.</p>
                </div>
              </div>
              <div class="tiers__tier">
                <div class="tiers__tier-heading">
                  <div class="tiers__tier-image-container">
                    <img class="tiers__tier-image" style="width: 80px" src="/assets/icon-idea.svg" alt="">
                  </div>
                  <h3 class="tiers__tier-title" style="font-size: 25px;">
                    Strategic Integration
                  </h3>
                </div>
                <div class="tiers__tier-content">
                  <p>Easily integrate with various e-commerce platforms.</p>
                </div>
              </div>
              <div class="tiers__tier">
                <div class="tiers__tier-heading">
                  <div class="tiers__tier-image-container">
                    <img class="tiers__tier-image" style="width: 80px" src="/assets/icon-bolt.svg" alt="">
                  </div>
                  <h3 class="tiers__tier-title" style="font-size: 25px;">
                    AI-Powered Insights
                  </h3>
                </div>
                <div class="tiers__tier-content">
                  <p>Leverage AI for in-depth insights, making informed decisions.</p>
                </div>
              </div>
              <div class="tiers__tier">
                <div class="tiers__tier-heading">
                  <div class="tiers__tier-image-container">
                    <img class="tiers__tier-image" style="width: 80px" src="/assets/icon-feedback.svg" alt="">
                  </div>
                  <h3 class="tiers__tier-title" style="font-size: 25px;">
                    Feedback Transformation
                  </h3>
                </div>
                <div class="tiers__tier-content">
                  <p>Convert customer echo into actionable strategies.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<style>
  .potential {
    padding: 100px 0;
  }
</style>