{% if include.paginate %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{%- if posts.size > 0 -%}
  <section class="posts posts--{{ include.section_id }}">
    <div class="container container--11 wrapper">
      <div class="collection__header">
        <div class="section-header">
          {% if include.heading != blank %}
            <h2 class="section-header__heading section-header__heading--center">{{ include.heading }}</h2>
          {% endif %}
        </div>
      </div>

      <div class="collection__grid">
        {%- if posts.size > 0 -%}
          <div class="grid grid--waffle grid--center">
            {%- for post in posts -%}
              {% if forloop.first %}
                <div class="grid__column grid__column--12">
                  {% include snippets/post-tile.html
                    image=post.image
                    link=post.url
                    title=post.title
                    description=post.description
                    class="large"
                    align="left"
                    categories=post.categories
                    tags=post.tags
                  %}
                </div>
              {% else %}
                <div class="grid__column grid__column--12 grid__column--6@sm grid__column--4@md">
                  {% include snippets/post-tile.html
                    image=post.image
                    link=post.url
                    title=post.title
                    description=post.description
                    class="small"
                    align="center"
                    categories=post.categories
                    tags=post.tags
                  %}
                </div>
              {% endif %}
            {% endfor %}
          </div>

          {% if include.paginate %}
            <div class="pager">
              <ul class="pagination">
              {%- if paginator.previous_page %}
                <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">{{ paginator.previous_page }}</a></li>
              {%- else %}
                <li><div class="pager-edge">•</div></li>
              {%- endif %}
                <li><div class="current-page">{{ paginator.page }}</div></li>
              {%- if paginator.next_page %}
                <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page }}</a></li>
              {%- else %}
                <li><div class="pager-edge">•</div></li>
              {%- endif %}
              </ul>
            </div>
          {%- endif %}
        {%- endif %}
      </div>
    </div>
  </section>
{%- endif -%}