<section class="announcement-bar">
  <div class="container container--10 wrapper">
    <div class="announcement-bar__inner">
      {% if section.settings.enable_countdown == true %}
        {% include 'countdown',
          countdown_type: section.settings.timer_type,
          countdown_start_date: section.settings.countdown_start_date ,
          countdown_end_date: section.settings.countdown_end_date,
          label: section.settings.label
        %}
      {% else %}
        <span class="announcement-bar__label">
          {{ section.settings.label }}
        </span>
      {% endif %}
    </div>
  </div>
</section>
