<div class="post-tile post-tile--{{ include.class }}">
  <a {% if link != blank %} href="{{ include.link }}" {% endif %} class="tile tile--post {% if include.link == blank %} tile--no-pointer {% endif %}">
    <div class="tile__image">
      <div class="image image--square">
        <!-- <div class="image__badges"></div> -->
        <div class="image__object">
          {% if include.image %}
            <img
              src="{{ include.image }}"
              alt="{{ include.title }}"
            >
          {% endif %}
        </div>
      </div>
    </div>

    <div class="tile__info tile__info--no-padding tile__info--{{ include.align }}">
      {% for tags in include.tags %}
        <span class="badge">{{ tags }}</span>
      {% endfor %}

      <h3 class="tile__heading">
        {{ include.title }}
      </h3>

      <div class="tile__meta">
        {{ include.description }}
      </div>
    </div>
  </a>
</div>
